// Z-INDEX
@zindex-back: 999;
@zindex-mid: 1010;
@zindex-top: 1020;
@zindex-overlay: 10050;

// COLORS
@red: #d3272d;
@lightPink: #c8608d;
@pink: #da1c5c;
@magenta: #9e1f63;
@orange: #e23430;
@lightOrange: #f15a29;
@gold: #fbb040;

@offBlack: #322E2F;
@darkGray: #2C2C2A;
@gray: #808080;
@tanGray: #B1ACA0;
@offWhite: #DADDD6;
@lightGray: #E6E6E6;
@lightGrayHover: #D3D3D4;
@editor: #333;
@lightBlue: #DDF1F4;
@blue: #54C3C1;
@textColor: @blue;


// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

//Import Mixins here
@import "mixins.less";
@import "fonts.less";

// Added to overrule twilio.com styles
body { 
  background:url("../images/bridge.jpg") no-repeat ;
  background-size: cover;
  color: @textColor;
  font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 100;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
a, h2, h3, h4, small {
  font-family: 'Pathway Gothic One', sans-serif;
}

a {
  color:@blue;
  text-decoration: none;
}
.pink {color:@pink;}
.pink-light {color:@lightPink;}
.magenta {color:@magenta;}
.orange {color:@orange;}
.orange-light {color:@lightOrange;}
.gold {color:@gold;}

.description {
  text-align: center;
  font-size:1.2em;
  padding:20px 60px;
  line-height: 1.6;
  max-width: @screen-md;
  margin: 0px auto;
  p, span {
    margin:0px;
    padding-top: 0px;
  }
}

.h2 {   font-size:2.75em;  }
.h3 {   font-size:2em;    }
.h4 {   font-size:1.25em;  }
.small {font-size:0.5em;  }

.breadcrumbs {
  text-transform: uppercase;
  text-align: center;
  a {
    display: block;
    text-align: center;
    padding-top: 40px;
  }
  img.mini {
    margin:80px;
    width:30px;
  }
}

.hero {
  display: block;
  width: 100%;
  text-align: center;
  padding: 40px 0px 0px;
  font-size:3em;
  color:@magenta;
}
.hero-img {
  width:700px;
}

@import "responsive.less";